.loader {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-gray-light);
  border-top-color: var(--color-blue);
  animation: spin 0.8s linear infinite;
}

.md {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

.lg {
  width: 72px;
  height: 72px;
  border-width: 6px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
