.wrapper {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 276px);
  gap: 32px 29px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.loadMore {
  margin: 40px auto 0;
  display: block;
}
