.header {
  height: var(--header-height);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-badges);
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--font-size-logo);
  line-height: var(--line-height-logo);
  font-weight: var(--font-weight-logo);
  color: var(--color-main);
  text-decoration: none;
}

.logoAccent {
  color: var(--color-blue);
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.link {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-body);
  color: var(--color-main);
  text-decoration: none;
}

.active {
  color: var(--color-blue);
  text-decoration: none;
  border-bottom: 1px solid var(--color-blue);
}
